<div class="ui breadcrumb">
<a class="section">Dashboard</a>
<div class="divider">
  /
</div>
</div>


<div class="ui grid">
  <div class="sixteen wide column">
    <a href="/requests/new" class="ui right floated small primary labeled icon button">
      <i class="icon plane"></i>
      New Absense Request
    </a>
  </div>

</div>



<div class="ui segment">
  <h2>My Requests</h2>

  <table class="ui four column red celled table">
    <thead>
      <tr>
        <th>Period of Absense</th>
        <th >Type</th>
        <th>Assigned To</th>
        <th >Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a class="ui blue label">10
            <div class="detail">Days</div>
          </a>
        </td>

        <td>No Action</td>
        <td>No Action</td>
        <td class="selectable">
          <a href="#">Requested</a>
        </td>
      </tr>
      <tr class="positive">
        <td>John</td>
        <td>No Action</td>
        <td>No Action</td>
        <td class="selectable ">
          <a href="#">Approved</a>
        </td>
      </tr>
      <tr class="negative">
        <td>John</td>
        <td>No Action</td>
        <td>No Action</td>
        <td class="selectable">
          <a href="#">Denied</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
