<script type="text/javascript">
  $(function () {
    $('.ui.radio.checkbox').checkbox();
    $('.ui.dropdown').dropdown();
  });
</script>

<div class="ui segments">
  <div class="ui segment">

    <h4 class="ui image header">
      <img src="/chris.png" class="ui mini rounded image">
      <div class="content">
        Chris Veleras
        <div class="sub header">Ruby on Rails Developer
        </div>
      </div>
    </h4>
  </div>
  <div class="ui segment">

    <div class="ui sub header">Absense Type</div>
    <a class="ui blue left ribbon label">Full Absene</a>
    <div class="ui sub header">Period of absense</div>
    <div class="description">
      From
      <b>Friday, 19 February 2016</b>
      to
      <b>Tuesday, 23 February 2016</b>
    </div>

    <div class="ui sub header">Description</div>
    <div></div>

  </div>

  <div class="ui segment">
    <div class="ui form">
      <div class="field">
        <label>Your comment in response</label>
        <textarea rows="5"></textarea>
      </div>
      <div class=" content">
        <div class="ui  buttons">
          <div class="ui positive  submit button">Approve</div>
          <div class="or"></div>
          <div class="ui negative submit  button">Deny</div>
        </div>
      </div>

    </div>
  </div>

</div>
</div>
