<h2><%= @request.user.name %>, your request has been
  <%=(I18n.t "request_status.#{@request.status}").downcase%></h2>

<p>
  Your request for has been
  <%=(I18n.t "request_status.#{@request.status}").downcase%>. Click
  <a href="/">here</a>
  for details.
</p>
